    <footer class="gov-footer mdl-mini-footer mdl-color--grey-50">
      <div class="mdl-mini-footer__left-section">
        <ul class="mdl-mini-footer__link-list">
          <li><a class="mdl-typography--font-regular">&copy; {{ now.Year }} Made with ❤️ in Jakarta</a></li>
        </ul>
      </div>
      <div class="mdl-mini-footer__right-section mdl-cell--hide-phone">
        <ul class="mdl-mini-footer__link-list">
          <li><a class="mdl-typography--font-regular" href="{{ "about/" | relLangURL }}">{{ T "About" }}</a></li>
          <li><a class="mdl-typography--font-regular" href="{{ "privacy/" | relLangURL }}">{{ T "Privacy" }}</a></li>
          <li><a class="mdl-typography--font-regular" href="{{ "terms/" | relLangURL }}">{{ T "Terms" }}</a></li>
          <li><a class="mdl-typography--font-regular" href="https://github.com/iap/gov">{{ T "Code" }}</a></li>
        </ul>
      </div>
    </footer>