 <!-- Always shows a header, even in smaller screens. -->
 <header class="mdl-layout__header">
   <div class="mdl-layout__header-row">
     <span class="mdl-layout-title">
       {{ .Title }}
     </span>
     
      <!-- Add spacer, to align navigation to the right -->
     <div class="mdl-layout-spacer"></div>
 
     <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
       <label class="mdl-button mdl-js-button mdl-button--icon" for="search" disabled>
           <i class="material-icons">search</i>
       </label>
       <!-- Expandable input field -->
       <div class="mdl-textfield__expandable-holder">
           <input class="mdl-textfield__input" type="text" id="search"/>
           <label class="mdl-textfield__label" for="search">Enter your query...</label>
       </div>
     </div>
     
   </div>
 </header>
