<!-- Content for social media sharing previews -->
<meta name="description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Summary }}{{ end }}" />
<meta property="og:description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Summary }}{{ end }}" />
<meta property="twitter:description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Summary }}{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta name="og:title" content="{{ if .Params.title }}{{ .Title }}{{ else }}{{ .Summary | truncate 10 }}{{ end }}" />
<meta name="twitter:title" content="{{ if .Params.title }}{{ .Title }}{{ else }}{{ .Summary | truncate 10 }}{{ end }}" />
<meta name="twitter:image:alt" content="{{ .Site.Title }}">
<!-- <meta name="theme-color" content="{{ $.Site.Params.themeColor }}" /> -->

<meta name="robots" content="noodp, noydir" />
<meta name="google" value="notranslate">

<!-- FavIcons & Humans.txt -->
<!-- <link rel="shortcut icon" type="image/png" href="{{ "images/favicon.png" | absURL }}"/> -->
<link type="text/plain" rel="author" href="{{ "/humans.txt" | relURL }}" />
<link rel="canonical" href="{{ .Permalink }}">

<!-- Material Design -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="{{ "js/material.min.js" | relURL }}"></script>
{{ with .Params.js }}{{ range (split . ",") }}<script src="{{ (trim . " ") | relURL }}"></script><!-- custom js added -->{{ end }}
{{ else }}<!-- no custom js detected -->{{ end }}
