{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}
  <article class="content">
    <main>
      <div class="gov-container mdl-grid center-items">
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col">
          <div class="mdl-card__title mdl-card--border">
            <h3 class="mdl-card__title-text">{{ .Title }}</h3>
            <div class="mdl-layout-spacer"></div>
          </div>
          <div class="gov-content">
            {{- .Content -}}
          </div>
          <div class="gov-card mdl-card__actions">
            {{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) }}
              {{ partial "reading-time" . }}
            {{ end }}
            <div class="mdl-layout-spacer"></div>
          </div>
        </div>
      </div>
    </main>
  </article>
{{ end }}